<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common :: commonHead}">
    <title>회원가입</title>
</head>
<body>
<div class="container mt-5">
    <h2>회원가입</h2>
    <form th:action="@{/sign}" th:object="${user}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </form>
</div>

<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
